## Spam flitering using Naive Bayes classifier in order to predict whether a new mail is based on its content, can be categorized as spam or not.

In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
import string
import matplotlib.pyplot as plt

In [14]:
# load the dataset

data = pd.read_csv("spam.tsv",sep='\t',names=['Class','Message'])
data.head()

  Class                                            Message
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham               I HAVE A DATE ON SUNDAY WITH WILL!!!

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5567 entries, 0 to 5566
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Class    5567 non-null   object
 1   Message  5567 non-null   object
dtypes: object(2)
memory usage: 87.1+ KB

In [16]:
data['Length'] = data['Message'].apply(len)
data

     Class                                            Message  Length
0      ham  I've been searching for the right words to tha...     196
1     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
2      ham  Nah I don't think he goes to usf, he lives aro...      61
3      ham  Even my brother is not like to speak with me. ...      77
4      ham               I HAVE A DATE ON SUNDAY WITH WILL!!!      36
...    ...                                                ...     ...
5562  spam  This is the 2nd time we have tried 2 contact u...     160
5563   ham               Will ü b going to esplanade fr home?      36
5564   ham  Pity, * was in mood for that. So...any other s...      57
5565   ham  The guy did some bitching but I acted like i'd...     125
5566   ham                         Rofl. Its true to its name      26

[5567 rows x 3 columns]

In [17]:
data.describe()

            Length
count  5567.000000
mean     80.450153
std      59.891023
min       2.000000
25%      36.000000
50%      62.000000
75%     122.000000
max     910.000000

In [18]:
data['Class'].value_counts()

ham     4821
spam     746
Name: Class, dtype: int64

### Text preprocessing

In [19]:
# assign ham as 1
data.loc[data['Class']=='ham','Class'] = 1

In [20]:
# assign spam as 0
data.loc[data['Class']=='spam','Class'] = 0

In [21]:
data.head(6)

  Class                                            Message  Length
0     1  I've been searching for the right words to tha...     196
1     0  Free entry in 2 a wkly comp to win FA Cup fina...     155
2     1  Nah I don't think he goes to usf, he lives aro...      61
3     1  Even my brother is not like to speak with me. ...      77
4     1               I HAVE A DATE ON SUNDAY WITH WILL!!!      36
5     1  As per your request 'Melle Melle (Oru Minnamin...     160

### Remove punctuation. we can use python's built in string library to get a quick list of all possible punctuations

In [22]:
# why is it important to remove punctuation?
"This message is spam" == "This message is spam."

False

In [23]:
## get the default list of the punctuations in python

import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [24]:
## creating a function to remove the punctiation

def remove_punc(text):
    text = "".join([char for char in text if char not in string.punctuation])
    return text

In [28]:
## example
s = "data// science!!!"
remove_punc(s)

'data science'

In [26]:
text = []
for i in data['Message']:
    t = remove_punc(i)
    text.append(t)

In [27]:
# creating a new column for cleaned text

data['Clean_text'] = text
data

,Class,Message,Length,Clean_text
0,1,I've been searching for the right words to tha...,196,Ive been searching for the right words to than...
1,0,Free entry in 2 a wkly comp to win FA Cup fina...,155,Free entry in 2 a wkly comp to win FA Cup fina...
2,1,"Nah I don't think he goes to usf, he lives aro...",61,Nah I dont think he goes to usf he lives aroun...
3,1,Even my brother is not like to speak with me. ...,77,Even my brother is not like to speak with me T...
4,1,I HAVE A DATE ON SUNDAY WITH WILL!!!,36,I HAVE A DATE ON SUNDAY WITH WILL
...,...,...,...,...
5562,0,This is the 2nd time we have tried 2 contact u...,160,This is the 2nd time we have tried 2 contact u...
5563,1,Will ü b going to esplanade fr home?,36,Will ü b going to esplanade fr home
5564,1,"Pity, * was in mood for that. So...any other s...",57,Pity was in mood for that Soany other suggest...
5565,1,The guy did some bitching but I acted like i'd...,125,The guy did some bitching but I acted like id ...
5566,1,Rofl. Its true to its name,26,Rofl Its true to its name

In [29]:
## splitting x and y
x = data['Clean_text'].values
y = data['Class'].values

In [30]:
y

array([1, 0, 1, ..., 1, 1, 1], dtype=object)

In [32]:
## datatype for y is an object
y = y.astype('int')
y

array([1, 0, 1, ..., 1, 1, 1])

#### splitting train and test data

In [34]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=10)

In [35]:
x_train.shape

(4453,)

In [36]:
x_test.shape

(1114,)

### Bag of words

In [37]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

CV = CountVectorizer(stop_words="english")

In [38]:
x_train_CV = CV.fit_transform(x_train)

In [39]:
import warnings
warnings.filterwarnings('ignore')
CV.get_feature_names()

['008704050406',
 '0089my',
 '0121',
 '01223585334',
 '0125698789',
 '02',
 '020603',
 '0207',
 '02070836089',
 '02072069400',
 '02073162414',
 '02085076972',
 '020903',
 '021',
 '050703',
 '0578',
 '060505',
 '061104',
 '07008009200',
 '07046744435',
 '07090298926',
 '07099833605',
 '071104',
 '07123456789',
 '0721072',
 '07732584351',
 '07734396839',
 '07742676969',
 '07753741225',
 '0776xxxxxxx',
 '07786200117',
 '078',
 '07808',
 '07808247860',
 '07808726822',
 '07815296484',
 '07821230901',
 '0784987',
 '0789xxxxxxx',
 '0794674629107880867867',
 '0796xxxxxx',
 '07973788240',
 '07xxxxxxxxx',
 '0800',
 '08000407165',
 '08000776320',
 '08000839402',
 '08000930705',
 '08000938767',
 '08001950382',
 '08002888812',
 '08002986030',
 '08002986906',
 '08002988890',
 '08006344447',
 '0808',
 '08081263000',
 '08081560665',
 '0825',
 '0844',
 '08448350055',
 '08448714184',
 '0845',
 '08452810071',
 '08452810073',
 '0870',
 '08700621170150p',
 '08701213186',
 '08701237397',
 '08701417012',
 '08701417012150p',
 '0870141701216',
 '087016248',
 '08701752560',
 '0870241182716',
 '08702490080',
 '08702840625',
 '08702840625comuk',
 '08704439680',
 '08704439680tscs',
 '08706091795',
 '0870737910216yrs',
 '08707500020',
 '08707509020',
 '0870753331018',
 '08708034412',
 '08708800282',
 '08709222922',
 '08709501522',
 '0870k',
 '08712101358',
 '08712103738',
 '0871212025016',
 '08712300220',
 '087123002209am7pm',
 '08712317606',
 '08712400603',
 '08712402050',
 '08712402578',
 '08712402779',
 '08712402902',
 '08712402972',
 '08712404000',
 '08712405020',
 '08712405022',
 '08712460324',
 '0871277810810',
 '0871277810910pmin',
 '087143423992stop',
 '087147123779am7pm',
 '08714712394',
 '08714714011',
 '08714719523',
 '08715203028',
 '08715203649',
 '08715203652',
 '08715203656',
 '08715203677',
 '08715203685',
 '08715203694',
 '08715205273',
 '08715705022',
 '08717168528',
 '08717507711',
 '08717509990',
 '08717890890',
 '08717898035',
 '08718720201',
 '08718723815',
 '08718725756',
 '08718726270',
 '08718726270150gbpmtmsg18',
 '08718726970',
 '08718726971',
 '08718726978',
 '087187272008',
 '08718727868',
 '08718727870',
 '08718729755',
 '08718729758',
 '08718730555',
 '08718738001',
 '08719180219',
 '08719180248',
 '08719181259',
 '08719181503',
 '08719181513',
 '08719839835',
 '08719899217',
 '08719899229',
 '08719899230',
 '09041940223',
 '09050000301',
 '09050000332',
 '09050000928',
 '09050001295',
 '09050001808',
 '09050002311',
 '09050005321',
 '09050090044',
 '09050280520',
 '09053750005',
 '09056242159',
 '09058091854',
 '09058091870',
 '09058094454',
 '09058094455',
 '09058094507',
 '09058094565',
 '09058094583',
 '09058094594',
 '09058094597',
 '09058094599',
 '09058097189',
 '09058097218',
 '09058098002',
 '09058099801',
 '09061104283',
 '09061209465',
 '09061213237',
 '09061221061',
 '09061221066',
 '09061701444',
 '09061701461',
 '09061701851',
 '09061701939',
 '09061702893',
 '09061743386',
 '09061743806',
 '09061743811',
 '09061744553',
 '09061749602',
 '09061790121',
 '09061790125',
 '09061790126',
 '09063440451',
 '09063442151',
 '09063458130',
 '09064011000',
 '09064012103',
 '09064012160',
 '09064015307',
 '09064017305',
 '09064018838',
 '09064019014',
 '09064019788',
 '09065069120',
 '09065069154',
 '09065171142stopsms08',
 '09065171142stopsms08718727870150ppm',
 '09065174042',
 '09065394514',
 '09065394973',
 '09065989180',
 '09065989182',
 '09066350750',
 '09066358152',
 '09066358361',
 '09066361921',
 '09066362231',
 '09066364311',
 '09066364349',
 '09066368327',
 '09066368470',
 '09066368753',
 '09066380611',
 '09066382422',
 '09066612661',
 '09066649731from',
 '09066660100',
 '09071512432',
 '09071512433',
 '09090900040',
 '09094100151',
 '09094646631',
 '09094646899',
 '09095350301',
 '09096102316',
 '09099725823',
 '09099726395',
 '09099726429',
 '09099726553',
 '09111030116',
 '09111032124',
 '0anetworks',
 '10',
 '100',
 '1000',
 '10000',
 '100000',
 '1000call',
 '1000s',
 '100603',
 '100psms',
 '100s',
 '1010',
 '1013',
 '101mega',
 '1030',
 '10803',
 '10am',
 '10am7pm',
 '10am9pm',
 '10k',
 '10p',
 '10pmin',
 '10ppm',
 '11',
 '1120',
 '113',
 '1131',
 '11414',
 '1146',
 '1148',
 '1172',
 '118pmsg',
 '11mths',
 '12',
 '12000pes',
 '1205',
 '121',
 '1225',
 '123',
 '1230',
 '125',
 '1250',
 '125gift',
 '128',
 '12hours',
 '12hrs',
 '130',
 '131004',
 '1327',
 '139',
 '1405',
 '140ppm',
 '145',
 '1450',
 '146tf150p',
 '150',
 '1500',
 '150ea',
 '150morefrmmob',
 '150msg',
 '150mtmsgrcvd18',
 '150p',
 '150pday',
 '150perwksub',
 '150pm',
 '150pmeg',
 '150pmin',
 '150pmmorefrommobile2bremovedmobypobox734ls27yf',
 '150pmsg',
 '150pmsgrcvdhgsuite3422landsroww1j6hl',
 '150pmtmsg',
 '150pmtmsgrcvd18',
 '150ppermesssubscription',
 '150ppm',
 '150ppmsg',
 '150prcvd',
 '150psms',
 '150ptext',
 '150ptone',
 '150pwk',
 '150rcvd',
 '150week',
 '150wk',
 '151',
 '1526',
 '153',
 '15541',
 '15pmin',
 '16',
 '1680',
 '169',
 '16only',
 '177',
 '18',
 '181104',
 '1843',
 '186',
 '18only',
 '18ptxt',
 '18yrs',
 '1956669',
 '1appledayno',
 '1cup',
 '1da',
 '1er',
 '1hanuman',
 '1his',
 '1hr',
 '1im',
 '1lemondayno',
 '1mcflyall',
 '1million',
 '1minmobsmore',
 '1minmobsmorelkpobox177hp51fl',
 '1minmoremobsemspobox45po139wa',
 '1month',
 '1pm',
 '1s',
 '1st',
 '1st4terms',
 '1stone',
 '1tulsi',
 '1u',
 '1unbreakable',
 '1winaweek',
 '1x150pwk',
 '1yf',
 '20',
 '200',
 '2000',
 '20000',
 '2003',
 '2004',
 '2005',
 '2007',
 '2025050',
 '20f',
 '20p',
 '20pmin',
 '21',
 '215',
 '21870000hi',
 '21st',
 '22',
 '220cm2',
 '23',
 '2309',
 '230ish',
 '24',
 '241004',
 '247mp',
 '24hrs',
 '24m',
 '24th',
 '25',
 '250',
 '250k',
 '255',
 '25f',
 '25p',
 '260305',
 '261004',
 '261104',
 '2667',
 '26th',
 '2703',
 '27603',
 '28',
 '285',
 '28days',
 '28thfebtcs',
 '290305',
 '29100',
 '29m',
 '2b',
 '2bajarangabali',
 '2bold',
 '2c',
 '2channel',
 '2day',
 '2daylove',
 '2docdplease',
 '2end',
 '2getha',
 '2geva',
 '2go',
 '2godid',
 '2gthr',
 '2hrs',
 '2i',
 '2im',
 '2kbsubject',
 '2marrow',
 '2moro',
 '2morow',
 '2morro',
 '2morrow',
 '2morrowxxxx',
 '2mro',
 '2mrw',
 '2mwen',
 '2nd',
 '2nhite',
 '2nights',
 '2nite',
 '2nitetell',
 '2optout',
 '2p',
 '2police',
 '2px',
 '2rcv',
 '2stoptxt',
 '2u',
 '2u2',
 '2untamed',
 '2watershd',
 '2waxsto',
 '2when',
 '2wks',
 '2wt',
 '2wu',
 '2years',
 '2yr',
 '2yrs',
 '30',
 '300',
 '3000',
 '300603',
 '300603tcsbcm4235wc1n3xxcallcost150ppmmobilesvary',
 '300p',
 '3030',
 '30apr',
 '30pptxt',
 '30th',
 '31',
 '3100',
 '310303',
 '311004',
 '31pmsg150p',
 '32000',
 '3230',
 '32323',
 '326',
 '32f',
 '330',
 '3350',
 '350',
 '3510i',
 '35p',
 '3650',
 '36504',
 '3680',
 '3680offer',
 '373',
 '38',
 '391784',
 '399',
 '3aj',
 '3cover',
 '3d',
 '3days',
 '3db',
 '3g',
 '3gbp',
 '3hrs',
 '3lp',
 '3maruti',
 '3miles',
 '3mins',
 '3mobile',
 '3optical',
 '3pound',
 '3qxj9',
 '3rd',
 '3ss',
 '3u',
 '3unkempt',
 '3uz',
 '3wife',
 '3wk',
 '3wks',
 '3xx',
 '40',
 '400',
 '402',
 '4041',
 '40411',
 '40533',
 '40gb',
 '40mph',
 '415',
 '41685',
 '41782',
 '42049',
 '4217',
 '42478',
 '42810',
 '430',
 '434',
 '44',
 '4403ldnw1a7rw18',
 '447797706009',
 '447801259231',
 '447per',
 '448712404000please',
 '449050000301',
 '449071512431',
 '45',
 '450',
 '450p',
 '450ppw',
 '450pw',
 '45239',
 '46',
 '4712',
 '4742',
 '48',
 '4882',
 '49557',
 '4a',
 '4cook',
 '4d',
 '4eva',
 '4few',
 '4fil',
 '4get',
 '4got',
 '4info',
 '4jx',
 '4lux',
 '4mths',
 '4my',
 '4o',
 '4pavanaputra',
 '4press',
 '4some1',
 '4tctxt',
 '4th',
 '4thnovbehind',
 '4txt120p',
 '4txtú120',
 '4u',
 '4ui',
 '4utxt',
 '4ward',
 '4wrd',
 '4years',
 '50',
 '500',
 '5000',
 '500000',
 '505060',
 '50award',
 '50p',
 '50s',
 '515pm',
 '5226',
 '5249',
 '526',
 '528',
 '530',
 '54',
 '542',
 '5903',
 '5digital',
 '5free',
 '5gardener',
 '5gently',
 '5i',
 '5k',
 '5min',
 '5mls',
 '5month',
 '5p',
 '5pm',
 '5sankatmochan',
 '5th',
 '5wb',
 '5we',
 '5years',
 '600',
 '6031',
 '60400thousadi',
 '60p',
 '60pmin',
 '61200',
 '61610',
 '62220cncl',
 '6230',
 '62468',
 '62735',
 '630',
 '63miles',
 '645',
 '645pm',
 '650',
 '68866',
 '69669',
 '69696',
 '69855',
 '6986618',
 '69888',
 '69888nyt',
 '69911',
 '69969',
 '69988',
 '6days',
 '6hl',
 '6housemaid',
 '6hrs',
 '6ish',
 '6missed',
 '6months',
 '6pm',
 '6ramaduth',
 '6th',
 '6times',
 '6wu',
 '6zf',
 '700',
 '7250',
 '7250i',
 '730',
 '730ish',
 '731',
 '74355',
 '750',
 '75000',
 '7548',
 '7634',
 '7684',
 '7732584351',
 '78',
 '786',
 '7876150ppm',
 '78pmin',
 '79',
 '7cfca1a',
 '7children',
 '7mahaveer',
 '7oz',
 '7pm',
 '7th',
 '7ws',
 '7zs',
 '800',
 '8000930705',
 '80062',
 '8007',
 '80082',
 '80086',
 '80122300pwk',
 '80155',
 '80160',
 '80182',
 '8027',
 '80488',
 '80608',
 '8077',
 '80878',
 '80s',
 '81010',
 '81151',
 '81303',
 '816183',
 '82242',
 '82277',
 '82277unsub',
 '82324',
 '82468',
 '830',
 '83021',
 '83039',
 '83049',
 '83110',
 '83118',
 '83222',
 '83332please',
 '83338',
 '83355',
 '83370',
 '83383',
 '83435',
 '83600',
 '83738',
 '84025',
 '84128',
 '84199',
 '84484',
 '85',
 '850',
 '85023',
 '85069',
 '8552',
 '86021',
 '861',
 '864233',
 '86688',
 '86888',
 '87021',
 '87066',
 '87077',
 '87121',
 '87131',
 '87239',
 '87575',
 '8800',
 '88039skilgmetscs087147403231winawkage16',
 '88066',
 '88088',
 '88222',
 '88600',
 '8883',
 '88877',
 '88877free',
 '88888',
 '89070',
 '89080',
 '89105',
 '89123',
 '89545',
 '89555',
 '89938',
 '8am',
 '8ball',
 '8hr',
 '8lb',
 '8neighbour',
 '8o',
 '8pm',
 '8th',
 '8wp',
 '900',
 '9061100010',
 '9153',
 '92h',
 '930',
 '946',
 '96',
 '97n7qp',
 '98321561',
 '9ae',
 '9am11pm',
 '9ja',
 '9pm',
 '9t',
 '9th',
 '9yt',
 'a21',
 'a30',
 'aah',
 'aaniye',
 'aaooooright',
 'aathilove',
 'aathiwhere',
 'ab',
 'abdomen',
 'abeg',
 'abelu',
 'abi',
 'ability',
 'abiola',
 'abj',
 'able',
 'aboutas',
 'abroad',
 'absence',
 'absolutely',
 'abstract',
 'abt',
 'abta',
 'aburo',
 'abuse',
 'abusers',
 'ac',
 'acc',
 'accent',
 'accept',
 'access',
 'accessible',
 'accidant',
 'accident',
 'accidentally',
 'accommodation',
 'accommodationvouchers',
 'accomodate',
 'accordin',
 'accordingly',
 'accordinglyor',
 'account',
 'accounting',
 'accounts',
 'accumulation',
 'achanammarakheshqatar',
 'ache',
 'achieve',
 'acid',
 'acknowledgement',
 'acl03530150pm',
 'acnt',
 'acoentry41',
 'acsmsrewards',
 'act',
 'acted',
 'actin',
 'acting',
 'action',
 'activate',
 'active',
 'activities',
 'actor',
 'actual',
 'actually',
 'ad',
 'adam',
 'add',
 'addamsfa',
 'added',
 'addicted',
 'addie',
 'adding',
 'address',
 'addressull',
 'adds',
 'adewale',
 'adi',
 'adjustable',
 'admin',
 'administrator',
 'admirer',
 'admission',
 'admiti',
 'adore',
 'adoring',
 'adp',
 'adress',
 'adrian',
 'adrink',
 'ads',
 'adult',
 'advance',
 'adventure',
 'adventuring',
 'advice',
 'advise',
 'advising',
 'advisors',
 'aeronautics',
 'aeroplane',
 'afew',
 'affair',
 'affairs',
 'affection',
 'affectionate',
 'affectionsamp',
 'affidavit',
 'afford',
 'afraid',
 'africa',
 'african',
 'aft',
 'afternoon',
 'afternoons',
 'aftr',
 'ag',
 'againcall',
 'againloving',
 'age',
 'age16',
 'age16150ppermesssubscription',
 'age23',
 'agency',
 'agent',
 'agents',
 'ages',
 'agesring',
 'aging',
 'ago',
 'agocusoon',
 'agree',
 'agreen',
 'ah',
 'aha',
 'ahead',
 'ahgee',
 'ahhh',
 'ahmad',
 'ahold',
 'ahsen',
 'ahwhat',
 'aid',
 'aids',
 'aig',
 'aight',
 'aint',
 'air',
 'air1',
 'airport',
 'airtel',
 'aiya',
 'aiyah',
 'aiyar',
 'aiyo',
 'ak',
 'aka',
 'akonlonely',
 'al',
 'alaikkumpride',
 'alaipayuthe',
 'albi',
 'albumquite',
 'alcohol',
 'alert',
 'alertfrom',
 'alerts',
 'aletter',
 'alex',
 'alfie',
 'algarve',
 'algebra',
 'algorithms',
 'alian',
 'alibi',
 'alive',
 'alivebetter',
 'allah',
 'allahmeet',
 'allahrakhesh',
 'allalo',
 'allday',
 'alle',
 'allow',
 'allowed',
 'allows',
 'alls',
 'alot',
 'alreadysabarish',
 'alright',
 'alrightokay',
 'alrite',
 'alritehave',
 'alsoor',
 'alter',
 'alternativehope',
 'alwa',
 'alwys',
 'amanda',
 'amazing',
 'ambitious',
 'ambrithmaduraimet',
 'american',
 'ami',
 'amigos',
 'amk',
 'ammaelife',
 'ammo',
 ...]

In [40]:
### Training

NB = MultinomialNB()

In [41]:
## feed data to the model
NB.fit(x_train_CV,y_train)

MultinomialNB()

In [43]:
x_test_CV = CV.transform(x_test)

In [44]:
y_predict = NB.predict(x_test_CV)
y_predict

array([1, 1, 1, ..., 1, 1, 1])

In [45]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.96      0.92      0.94       168
           1       0.99      0.99      0.99       946

    accuracy                           0.98      1114
   macro avg       0.97      0.96      0.97      1114
weighted avg       0.98      0.98      0.98      1114

In [46]:
pd.crosstab(y_test,y_predict)

col_0    0    1
row_0
0      155   13
1        6  940

In [48]:
## using bernoulli 

bnb = BernoulliNB()
bnb.fit(x_train_CV,y_train)

# Getting prediction
y_pred1=bnb.predict(x_test_CV)

# confusion matrix
pd.crosstab(y_test,y_pred1)

col_0    0    1
row_0
0      130   38
1        0  946

### using TF-IDF Technique

In [49]:
# splitting x and y

x = data['Clean_text'].values
y = data['Class'].values

In [50]:
y = y.astype('int')
y

array([1, 0, 1, ..., 1, 1, 1])

In [52]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=6)

In [53]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer()

In [54]:
# to convert training data - fit_transform()
# to convert testing data - transform()
# converts text to numerical

x_train_cv = tf.fit_transform(x_train)
x_test_cv = tf.transform(x_test)

In [55]:
nb = MultinomialNB()
nb.fit(x_train_cv,y_train)

MultinomialNB()

In [56]:
y_hat = nb.predict(x_test_cv)

In [57]:
print(classification_report(y_test,y_hat))

              precision    recall  f1-score   support

           0       1.00      0.68      0.81       186
           1       0.95      1.00      0.98      1206

    accuracy                           0.96      1392
   macro avg       0.98      0.84      0.89      1392
weighted avg       0.96      0.96      0.95      1392

In [58]:
pd.crosstab(y_test,y_hat)

col_0    0     1
row_0
0      127    59
1        0  1206

In [59]:
## model object creation
nb = BernoulliNB()
# fitting the model
nb.fit(x_train_cv,y_train)

# getting prediction
y_hat = nb.predict(x_test_cv)

In [60]:
y_hat

array([1, 1, 1, ..., 1, 1, 1])

In [61]:
## Evaluating the model

from sklearn.metrics import classification_report,confusion_matrix

In [62]:
print(classification_report(y_test,y_hat))

              precision    recall  f1-score   support

           0       1.00      0.82      0.90       186
           1       0.97      1.00      0.99      1206

    accuracy                           0.98      1392
   macro avg       0.99      0.91      0.94      1392
weighted avg       0.98      0.98      0.98      1392

In [63]:
pd.crosstab(y_test,y_hat)

col_0    0     1
row_0
0      153    33
1        0  1206